.footer {
  grid-area: footer;
  background: #161B1C;
  display: grid;
  margin-top: 5px;
  //border-top: 1px solid rgba(204, 204, 204, 0.5);
  box-shadow: 0 0 4px rgba(28, 117, 145, 0.25);
  .footerContainer {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    //grid-template-columns: repeat(2, minmax(auto, 100vw));
    grid-template-columns:minmax(auto, 100px) minmax(auto, 100vw);

    .contactBlock {
      display: grid;
      grid-template:1fr/1fr;
      align-items: center;

      .contactImg {
        line-height: 0;

        .gitImg {

          margin-right: 10px;
          //margin-left: 9px;
          cursor: pointer;
        }

        .telegImg {
          margin-right: 10px;
          cursor: pointer;
        }
      }

    }

    .dateBlock {
      display: grid;
      justify-items: end;
      align-items: center;
      color: #CCCCCC;
      font-size: 12px;
      //margin-right: 9px;

    }

  }

  @media (max-width: 1080px) {
    .footerContainer {
      padding: 0 9px;
    }
  }
}