body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #101415;
}


button {
  padding: 0;
  border: 0;
}

.clear {
  * {
    box-sizing: border-box;
    outline: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}


//* {
//  margin: 0;
//  padding: 0;
//  box-sizing: border-box;
//}

* {
  font-family: 'Inter', system-ui;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template: minmax(70px, auto) 1fr  minmax(26px, auto)  / 1fr;
  grid-template-areas:
          "header"
          "main"
          "footer";

  max-width: 1080px;
  margin: 0 auto;

}


.cartDrawer {
  display: grid;
  background: rgba(22, 27, 28, 0.5);
  grid-column: 1 / 1;
  grid-row: 2 / -2;
  //opacity: 0.33;
  z-index: 1;
  //grid-template-columns: 1fr;
  justify-items: end;
  margin-top: 20px;

  .cart {
    max-width: 400px;
    display: grid;
    //opacity: 0.33;

    //background: #292E2F;
    background: #191f20;

    align-content: start;
    grid-template-rows: auto 1fr;
    height: 90vh;


    h2 {
      margin: 18px;
      color: #CCCCCC;
    }
  }

  .items {

    overflow: auto;
  }

  .item {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows:auto repeat(20, 1fr);

    margin: 0 18px 15px 18px;
  }

  .itemImg {
    object-fit: cover;
    object-position: center left;
    width: 100%;
    height: 100px;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  .delNameItem {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns:1fr 30px;
    //color: #ffffff;
    align-content: space-between;
    align-items: center;
    //background: #9E332E;
    background: rgba(158, 51, 46, 0.65);
    //opacity: 0.70;

    p {
      color: #CCCCCC;
      margin: 0 0 0 7px;

    }

    img {
      margin-right: 7px;
    }

  }

  .totalCred {
    display: grid;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #CDCDCD;
    margin: 0 18px 15px 18px;
    justify-items: end;
  }

  .buttonCheckout {
    margin: 0 18px 15px 18px;
    height: 64px;
    background: #9E332E;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #CCCCCC;
  }

}

header {
  position: fixed;
  z-index: 1;
  max-width: 1080px;
  grid-area: header;
  display: grid;
  background: #161B1C;
  padding:12px;
  grid-template-columns:60px minmax(auto, 100vw) auto auto;
  //grid-template: 1fr/minmax(auto,60px)  minmax(auto,800px) auto auto;


  align-items: center;
  border-bottom: 1px solid #CCCCCC;



  h1 {
    font-family: "Damion", cursive;
    font-weight: normal;
    color: #CCCCCC;
    margin: 0;
  }

  //img{
  //  margin-right:10px;
  //}
  .logoImg {
    display: grid;
    align-items: center;

  }

  span {
    color: #CCCCCC;
    font-size: 14px;
    margin-left: 10px;

  }

  @media (max-width: 450px) {
    span {
      display: none;
    }
  }

  .imgCart {
    margin-left: 10px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

    &:hover {
      filter: drop-shadow(0px 0px 10px rgba(55, 197, 241, 0.72));
      transform: translateY(-2px);
    }
  }

}

.main {
  display: grid;
  grid-area: main;
  margin-top: 20px;
  align-content: start;

}


.coverFalcon {
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  max-height: 300px;
  width: auto;
  //overflow: hidden;

  img {

    object-fit: cover;
    width: 100%;
    max-height: 300px;


  }

  .centeredText {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 165.38px;
    transform: translate(-50%, -50%);
    font-weight: 800;
    //font-size: 35px;
    //font-size:  calc(1em + 1.3vmin);
    font-size: calc(1em + 1.2vw);


    color: #861410;


  }
}


.productsItems {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));


  .productsItem {


    display: grid;
    grid-auto-flow: row;
    //grid-template-columns: auto 1fr minmax(40px,auto)/1fr;
    background: #161B1C;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

    &:hover {
      box-shadow: -15px 15px 21px -9px rgba(28, 117, 145, 0.25);
      transform: translateY(-5px);

    }
  }

  .productsImg {
    position: relative;
    padding: 0 0 60% 0;
    margin: 0 0 11px 0;
  }

  .productsImg img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .productName {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 17px;
    color: #CDCDCD;

  }

  .productDescription {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    //line-height: 18px;

    color: #777777;
  }

  .productButton {
    display: grid;
    grid-template-columns:1fr 42px;
    align-items: end;


  }

  .productInfo {
    display: grid;
    margin: 0 13px 13px 13px;
  }

  .productButton b {

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #CDCDCD;
  }
}


.footer {
  grid-area: footer;
  background: #161B1C;
  display: grid;
  align-items: center;
  text-align: right;
  margin-top: 5px;

  .footerText {
    font-size: 10px;
    margin-right: 10px;;
    color: #CCCCCC;
    text-align: right;
  }

}


